
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&display=swap');











li:hover {
    background-color: rgb(242, 242, 242); /* Subtle background color change */
    transform: scale(1.0);
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
  }